@media (min-width: 320px) and (max-width:768px) {
    html,
          body {
            position: relative;
            height: 100%;
          }
    
          body {
            background: #F8F8F8;
            font-family: 'TT Lakes';
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
            height: 200px;
          }
         
    
        }
    
    @media (min-width: 768px) and (max-width:1439px) {
      body {
        background: #F8F8F8;
        font-family: 'TT Lakes';
        font-size: 14px;
        color: #000;
       margin:0;
        
        
      }
        .body {
          opacity: 0.96;
        }
        .slider3 {
          display: none;
        }
      .logo2-header {
            height: 56px;
          
                line-height: 56px;
                
                font-family: 'TT Lakes';
                font-size: 16px;
              
                /* identical to box height, or 150% */
                
                letter-spacing: -0.2px;
                text-transform: uppercase;
                
                background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
      color: #7E7E82;

    
            
            min-width: 768px;
            max-width: 1439px; 
        }
    .logo2-header p {
        padding-left:20px;
    }
    
       .logo2-list {
        display:flex;
        min-width: 768px;
        max-width:1439px;
        
        background: #F8F8F8;
        flex-wrap: wrap;
        
      }
      .logo2-list-item {
        margin-right: 12px;
        margin-bottom: 12px;
        margin-top: 12px;
        margin-left: 0;
        padding-left:0;
        max-width:240px;
        height: 160px;
        background: white;
        display: block;
        position: relative;
        margin-left:25px;
       }
       .logo2-list-item-1 {
        
    
    
       }
       .logo2-list-item-2 {
        
    
        
    }
    .logo2-list-item-3 {
        
    
        
    }
    .logo2-list-item-4 {
    
    
        
    }
    .logo2-list-item-5 {
    
    
        
    }
    .logo2-list-item-6 {
    
    
        
    }
    .logo2-list-item-7 {
    display: none;
    
        
    }
    .logo2-list-item-8 {
        display: none;
    
        
    }
    .logo2-list-item-9 {
        display: none;
    
    
        
    }
    .logo2-list-item-10 {
        display: none;
    
    
        
    }
    .logo2-list-item-11 {
        display: none;
    
    
        
    }
    .logo2-list-mod{
    display: block;
    
    
    }
    .logo2-list-height{
    
    
    }
    .logo2-info {
        background-color: #F8F8F8;
        padding: 10px;
        padding-left: 25px;
      }
      .logo2-info__switch {
        display: none;
      }
      .logo2-info__body {
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
      }
     /* .info__switch:checked~ .list-item-7,.list-item-8,.list-item-9,.list-item-10,.list-item-11,.list-item-7 {
        display: block;
      }
    */
    /*.info__switch:checked~ .list-item-7 {
        display: block;
      } */
      
      .logo2-info__headline {
        font-weight:500;
        display: inline-block;
        
      }
      .label2{
        font-weight: 500px;
      }
      .log2 {
    position:absolute;
    top:20px;
    left:16px;
    bottom:20px;
      }
      .logo2-icon {
        display: inline-block;
        padding-right: 16px;
      }
      .logo2-list-item-3 .log {
        position:absolute;
        top:10px;
        left:16px;
        bottom:20px;
        
          
          } 
          .logo2-list-item-6 .log {
            position:absolute;
            top:10px;
            left:16px;
            bottom:20px;
            
              
              } 
              .logo2-list-item-10 .log {
                position:absolute;
                top:10px;
                left:16px;
                bottom:20px;
                
                  
                  } 
                  .logo2-list-item-11 .log {
                    position:absolute;
                    top:10px;
                    left:16px;
                    bottom:20px;
                    
                      
                      } 
    
      .link2 {
        display: inline-block;
        margin-right:40px;
        margin-left:168px;
        margin-top:16px;
        margin-bottom:16px;
        width:40px;
        height: 40px;
        background-color:white;
        border:none;
        position:relative;

        
          }
          .button2 {
            display: inline-block;
            left:25px;
            top:14px;
            position:absolute;
            
            border:none;
          }
          .logo2-list-item p {
            display: inline-block;
            padding-left:25px;
            float:left;
        }
        .swiper-slide {
        padding-left: 0;
        }
        .dropdown-content {
        overflow: hidden;
        height: 1921px;}
    }


    
    @media (min-width: 1440px) {
    
      body {
        background: #F8F8F8;
        font-family: 'TT Lakes';
        font-size: 14px;
        color: #000;
       
        
        
      }
      body {
        opacity: 0.96;
        margin-left:320px;
        }
        .slider3 {
          display: none;
        }
      .logo2-header {
            height: 56px;
          
                line-height: 56px;
                
                font-family: 'TT Lakes';
                font-size: 16px;
              
                /* identical to box height, or 150% */
                
                letter-spacing: -0.2px;
                text-transform: uppercase;
                
                background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
      color: #7E7E82;

                
                
            min-width: 1120px;
            max-width: 2000px; 
        }
    .logo2-header p {
        padding-left:20px;
    }
    
       .logo2-list {
        display:flex;
        min-width: 1120px;
        max-width:2000px;
        justify-content: flex-start;
        background: #F8F8F8;
        flex-wrap: wrap;
       
       
        
      }
      .logo2-list-item {
        margin-right: 12px;
        margin-bottom: 12px;
        margin-top: 12px;
        margin-left: 0;
        padding-left:0;
        max-width:240px;
        height: 160px;
        background: white;
        display: block;
        position: relative;
        margin-left:25px;
       }
       .logo2-list-item-1 {
        
    
    
       }
       .logo2-list-item-2 {
        
    
        
    }
    .logo2-list-item-3 {
        
    
        
    }
    .logo2-list-item-4 {
    
    
        
    }
    .logo2-list-item-5 {
    
    
        
    }
    .logo2-list-item-6 {
    
    
        
    }
    .logo2-list-item-7 {
    
    
        
    }
    .logo2-list-item-8 {
        
    
        
    }
    .logo2-list-item-9 {
      display: none;
    
    
        
    }
    .logo2-list-item-10 {
        display: none;
    
    
        
    }
    .logo2-list-item-11 {
        display: none;
    
    
        
    }
    .logo2-list-mod {
    display: block;
    
    
    }
    .logo2-list-height {
    
    
    }
    .logo2-info {
        background-color: #F8F8F8;
        padding: 10px;
        padding-left: 25px;
      }
      .logo2-info__switch {
        display: none;
      }
      .logo2-info__body {
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
      }
     /* .info__switch:checked~ .list-item-7,.list-item-8,.list-item-9,.list-item-10,.list-item-11,.list-item-7 {
        display: block;
      }
    */
    /*.info__switch:checked~ .list-item-7 {
        display: block;
      } */
      
      .logo2-info__headline {
        display: inline-block;
        font-weight: 500;

        
      }
      .logo2-icon {
        display: inline-block;
        padding-right: 25px;
        
      }
      .log2 {
    position:absolute;
    top:20px;
    left:16px;
    bottom:20px;
    
      
      }
      
      .logo2-list-item-3 .log {
        position:absolute;
        top:10px;
        left:16px;
        bottom:20px;
        
          
          } 
      .logo2-list-item-6 .log {
        position:absolute;
        top:10px;
        left:16px;
        bottom:20px;
        
          
          }  .logo2-list-item-10 .log {
            position:absolute;
            top:10px;
            left:16px;
            bottom:20px;
            
              
              }
              .logo2-list-item-11 .log {
              position:absolute;
              top:10px;
              left:16px;
              bottom:20px;
              
                
                }
               
               .logo2-list-item-2 .log {
                position:absolute;
                top:20px;
                left:16px;
                bottom:20px;
                
                  
                  }
      .link2 {
    display: inline-block;
    margin-right:40px;
    margin-left:168px;
    margin-top:16px;
    margin-bottom:16px;
    width:40px;
    height: 40px;
    background-color:white;
    border:none;
    position: relative;
    flex-wrap: wrap;
    
    
      }
      .button2 {
        display: inline-block;
        left:25px;
        top:14px;
        position:absolute;
        
        border:none;
      }
      .logo2-list-item p {
        display: inline-block;
        padding-left:25px;
        float:left;
    }
    .swiper-slide {
    padding-left: 0;
    }

    .dropdown-content {
      display: block !important;
      overflow: hidden !important;
      height: 2500px !important;
      box-shadow:none !important;
    }

    
    .menu-container-item:nth-child(1) {
display: none;
    }
    
    
      
  .body {
margin-left:320px;

  }
    
  }
    