.body {
  
    
   
  }


.container {
  display:flex;
  width:320px;
  height: 88px;
  justify-content:space-around;
  
}
.container-item {
  width: 50px;
  height: 50px;
  align-items:center;
  padding-top:23px;
}
.container-item:nth-child(2) {
  margin-right: 60px;
}



    .header {
      width:320px;
      height: 88px;
     
    }
    
    .header-burger {
     display: block;
      width: 50px;
     height: 50px;
      background-repeat: no-repeat;
        background-image: url("icon/burger.png");
        
       
      }
      .header-Group {
        display: block;
        width: 100px;
       height: 50px;
      background-repeat: no-repeat;
        background-image: url("icon/Group.png");
       
      }

      .header-repair {
        display: block;
      width: 50px;
     height: 50px;
       
      
        background-repeat: no-repeat;
        background-image: url("icon/repair.png");
      }

      .header-checkstatus {
        display: block;
        width: 50px;
       height: 50px;
        background-repeat: no-repeat;
        background-image: url("icon/checkstatus.png");
      }
      .header-call {
        display: block;
        width: 50px;
       height: 50px;
        background-repeat: no-repeat;
        background-image: url("icon/call.png");
        display: none;
      }
      .header-chat {
        display: block;
        width: 50px;
       height: 50px;
        background-repeat: no-repeat;
        background-image: url("icon/chat.png");
        display: none;
      }
       .headr-profile {
        display: block;
        width: 50px;
       height: 50px;
        background-repeat: no-repeat;
        background-image: url("icon/profile.png");
        display: none;
       }


      .main {
  
        background: #F8F8F8;
        width:320px;
      }
      .main-list {
        display:flex ;
        overflow-x: scroll;
        align-items:space-around;
        flex-wrap: nowrap;
       padding: 10px;
      
      }
      .main-list--mod {
        
        flex-grow: 1;
         background: #FFFFFF;
       border: 2px solid #B8FFEC;
       white-space: nowrap;
       border-radius: 6px;
       height: 30px;
       margin-right:10px;
       }
      .main-title {
        font-family: 'TT Lakes';
      font-size: 16px;
      line-height: 24px;
      padding: 10px;
      padding-bottom: 0;
      }
     
      .main-text {
        padding: 10px;
        font-family: 'TT Lakes';
      font-size: 14px;
      line-height: 18px;
      }

      .info {
        
        background: #F8F8F8;
        padding: 10px;
      }
      .info__switch {
        display: none;
      }
      .info__body {
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
      }
      .info__switch:checked~.info__body {
        max-height: 200px;
      }
 
      
      .info__headline {
        display: block;
        
      }
      .main-text p {
        display: none;
      }
      .picture {
       
      background-image:url(/img/_MG_3223.png);
      background-repeat: no-repeat;
      width: 320px;
      height:200px;
      }
      .main-title-2 {
        display: none;
      }
      .main-title__img1 {
        display: none;
     }
     .main-title__img2 {
       display: none;
     }
@media (min-width: 768px) and (max-width:1119px) {
  .container {
    display:flex;
    width:768px;
    height: 88px;
    
    
  }
  .container-item {
    width: 50px;
    height: 50px;
    align-items:center;
    padding-top:15px;
  }
  .container-item:nth-child(2) {
    margin-right: 60px;
  }
  .container-item--mod {
  border:1px solid #EAEAEA;;
  width:0.5px;
  height: 10px;
  margin-top:20px;
  margin-right:10px;
  
  }
  .container-item:nth-child(3) {
    margin-left: auto;
   }
      .header {
        width:768px;
        height: 88px;
       
      }
      
      .header-burger {
       display: block;
        width: 50px;
       height: 50px;
        background-repeat: no-repeat;
          background-image: url("icon/burger.png");
          
         
        }
        .header-Group {
          display: block;
          width: 400px;
         height: 50px;
        background-repeat: no-repeat;
          background-image: url("icon/Group.png");
         
        }
  
        .header-repair {
          display: block;
          width: 50px;
         height: 50px;
       
        
          background-repeat: no-repeat;
          background-image: url("icon/repair.png");
        }
  
        .header-checkstatus {
          display: block;
          width: 50px;
         height: 50px;
          background-repeat: no-repeat;
          background-image: url("icon/checkstatus.png");
        }
        .header-call {
          display: block;
          width: 50px;
         height: 50px;
          background-repeat: no-repeat;
          background-image: url("icon/call.png");
          
        }
        .header-chat {
          display: block;
          width: 50px;
         height: 50px;
          background-repeat: no-repeat;
          background-image: url("icon/chat.png");
          
        }
         .headr-profile {
          display: block;
          width: 50px;
         height: 50px;
          background-repeat: no-repeat;
          background-image: url("icon/profile.png");
          
          
         }
       
        .main {
    
          background: #F8F8F8;
          width:768px;
        }
        .main-list {
          display:flex ;
          overflow-x: scroll;
          align-items:space-around;
          flex-wrap: nowrap;
         padding: 10px;
        
        }
        .main-list--mod {
          
         flex-grow: 1;
         
        white-space: nowrap;
       
        height: 30px;
        margin-right:10px;
        }
        .main-list--mod:hover {
          background: #FFFFFF;
          border: 2px solid #B8FFEC;
          border-radius: 6px;
        }

        .main-title {
          font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        padding: 10px;
        padding-bottom: 0;
        }
        .main-title__img1 {
           display: none;
        }
        .main-title__img2 {
          display: none;
        }

        .main-text {
          padding: 10px;
          font-family: 'TT Lakes';
        font-size: 14px;
        line-height: 18px;
        }
  
        .info {
          background-color: #F8F8F8;
          padding: 10px;
        }
        .info__switch {
          display: none;
        }
        .info__body {
          max-height: 0;
          overflow: hidden;
          transition: 0.4s;
        }
        .info__switch:checked~.info__body {
          max-height: 200px;
        }
   
        
        .info__headline {
          display: block;
          
        }

        .picture {
          position: absolute ;
          left:420px ;
          right: 200px;
          top: 250px;
          bottom: 200px;
        background-image:url(/img/_MG_3223.png);
        background-repeat: no-repeat;
        width: 530px;
        height:200px;
        
        }

        .main-text {
          width: 40%;
          padding-top:30px;
        }
        .info {
          display: inline-block;
          width:40%;
        }


        .main-text p {
          display: block;
        }
        .main-title-2 {
          display: none;
        }
  


      }








  @media (min-width: 1120px) {
    .container {
      display:flex;
      width:1120px;
      height: 88px;
      
      
    }
    .container-item {
      width: 50px;
      height: 50px;
      align-items:center;
      padding-top:15px;
    }
    .container-item:nth-child(2) {
      margin-right: 60px;
    }
    .container-item--mod {
    border:1px solid #EAEAEA;;
    width:0.5px;
    height: 10px;
    margin-top:20px;
    margin-right:10px;
    
    }
    .container-item:nth-child(3) {
      margin-left: auto;
     }
        .header {
          width:1120px;
          height: 88px;
         display: none;
        }
        
        .header-burger {
         display: block;
          width: 50px;
         height: 50px;
          background-repeat: no-repeat;
            background-image: url("icon/burger.png");
            
           
          }
          .header-Group {
            display: block;
            width: 400px;
           height: 50px;
          background-repeat: no-repeat;
            background-image: url("icon/Group.png");
           
          }
    
          .header-repair {
            display: block;
            width: 50px;
           height: 50px;
          
            background-repeat: no-repeat;
            background-image: url("icon/repair.png");
          }
    
          .header-checkstatus {
            display: block;
            width: 50px;
           height: 50px;
            background-repeat: no-repeat;
            background-image: url("icon/checkstatus.png");
          }
          .header-call {
            display: block;
            width: 50px;
           height: 50px;
            background-repeat: no-repeat;
            background-image: url("icon/call.png");
            
          }
          .header-chat {
            display: block;
            width: 50px;
           height: 50px;
            background-repeat: no-repeat;
            background-image: url("icon/chat.png");
            
          }
           .headr-profile {
            display: block;
            width: 50px;
           height: 50px;
            background-repeat: no-repeat;
            background-image: url("icon/profile.png");
            
            
           }
         
          .main {
      
            background: #F8F8F8;
            width:1120px;
            height: 450px;
          }
          .main-list {
            display:flex ;
            overflow-x: scroll;
            align-items:space-around;
            flex-wrap: nowrap;
           padding: 10px;
          
          }
          .main-list--mod {
            
           flex-grow: 1;
           
          white-space: nowrap;
         
          height: 30px;
          margin-right:10px;
          }
          .main-list--mod:hover {
            background: #FFFFFF;
            border: 2px solid #B8FFEC;
            border-radius: 6px;
          }
  
          .main-title {
            
            font-family: 'TT Lakes';
          font-size: 16px;
          line-height: 24px;
          padding: 10px;
          padding-bottom: 0;
          }

          .main-title {
            display: flex;
          }
          .main-title__img1 {
            margin-left: auto;
            display: inline-block;
          }
          .main-title__img2 {
           
            display: inline-block;
          }


          .main-title-2  {
            font-family: 'TT Lakes';
          font-size: 12px;
            line-height: 24px;
          padding-left:20px;
          display: block;
           color: #7E7E82;
          }
          .main-text {
            padding: 10px;
            font-family: 'TT Lakes';
          font-size: 14px;
          line-height: 18px;
          padding-top:0;
          }
    
          .info {
            background-color: #F8F8F8;
            padding: 10px;
          }
          .info__switch {
            display: none;
          }
          .info__body {
            max-height: 0;
            overflow: hidden;
            transition: 0.4s;
          }
          .info__switch:checked~.info__body {
            max-height: 200px;
          }
     
          
          .info__headline {
            display: block;
            
          }
  
          .picture {
            position: absolute ;
            left:550px ;
            right: ;
            top: 150px;
            bottom: 200px;
          background-image:url(/img/img2.png);
          background-repeat: no-repeat;
          width: 530px;
          height:380px;
          }
  
          .main-text {
            width: 40%;
            padding-top:10px;
            
          }
          .info {
            display: inline-block;
            width:40%;
          }
  
  
          .main-text p {
            display: block;
          }
  
  
  
        }
  