@media (min-width: 320px) and (max-width:768px) {
html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background:white;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
        height: 200px;
      }

      .swiper {
        width: 100%;
        max-height: 88px;
        background: #F8F8F8;
        padding-left: 25px;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #F8F8F8;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .swiper-wrapper {
        max-height: 88px;
      }

.logo-header {

  height: 56px;

      line-height: 56px;
      
      font-family: 'TT Lakes';
      font-size: 16px;
    
      /* identical to box height, or 150% */
      
      letter-spacing: -0.2px;
      text-transform: uppercase;
width:100%;
background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
      color: #7E7E82;

   
}
.logo-header p {
padding-left:20px;
}

.logo-list {
display:flex;
width: 100%;

background: #F8F8F8;
flex-wrap: nowrap;


}
.logo-list-item {
margin-right: 12px;
margin-bottom: 12px;
margin-top: 12px;
margin-left: 0;
padding-left:0;
max-width:240px;
height: 72px;
background: white;
display: block;
position: relative;
margin-left:10px;
}
.logo-list-item-1 {



}
.logo-list-item-2 {



}
.logo-list-item-3 {



}
.logo-list-item-4 {



}
.logo-list-item-5 {



}
.logo-list-item-6 {



}
.logo-list-item-7 {



}
.logo-list-item-8 {



}
.logo-list-item-9 {



}
.logo-list-item-10 {




}
.logo-list-item-11 {




}
.logo-list-mod{



}
.logo-list-height{


}
.logo-info {
background-color: #F8F8F8;
padding: 10px;
}
.logo-info__switch {
display: none;
}
.logo-info__body {
max-height: 0;
overflow: hidden;
transition: 0.4s;
}
/* .info__switch:checked~ .list-item-7,.list-item-8,.list-item-9,.list-item-10,.list-item-11,.list-item-7 {
display: block;
}
*/
/*.info__switch:checked~ .list-item-7 {
display: block;
} */

.logo-info__headline {
display: none;

}
.logo-icon {
  display: none;
}
.logo-label {
  display: none;
}
.log {
position:absolute;
top:20px;
left:16px;
bottom:20px;
}
.logo-list-item-3 .log {
position:absolute;
top:10px;
left:16px;
bottom:20px;


} 
.logo-list-item-6 .log {
  position:absolute;
  top:10px;
  left:16px;
  bottom:20px;
  
    
    } 
    .logo-list-item-10 .log {
      position:absolute;
      top:10px;
      left:16px;
      bottom:20px;
      
        
        } 
        .logo-list-item-11 .log {
          position:absolute;
          top:10px;
          left:16px;
          bottom:20px;
          
            
            } 

.link {
display: inline-block;
margin-right:40px;
margin-left:120px;
margin-top:16px;
margin-bottom:16px;
width:40px;
height: 40px;
background-color:white;
border:none;
position:relative;
}
.button {
  display: inline-block;
  left:25px;
  top:14px;
  position:absolute;
  
  border:none;
}

.pagination {

}
}




@media (min-width: 768px) and (max-width:1439px) {
    body {

    }
    .swiper {
     
      
          }
  .logo-header {
        height: 56px;
      
            line-height: 56px;
            
            font-family: 'TT Lakes';
            font-size: 16px;
          
            /* identical to box height, or 150% */
            
            letter-spacing: -0.2px;
            text-transform: uppercase;
            color: #7E7E82;
            background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);

        
        min-width: 768px;
        max-width: 1439px; 
    }
.logo-header p {
    padding-left:20px;
}

   .logo-list {
    display:flex;
    min-width: 768px;
    max-width:1439px;
    
    background: #F8F8F8;
    flex-wrap: wrap;
    
  }
  .logo-list-item {
    margin-right: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 0;
    padding-left:0;
    max-width:224px;
    height: 72px;
    background: white;
    display: block;
    position: relative;
    margin-left:25px;
   }
   .logo-list-item-1 {
    


   }
   .logo-list-item-2 {
    

    
}
.logo-list-item-3 {
    

    
}
.logo-list-item-4 {


    
}
.logo-list-item-5 {


    
}
.logo-list-item-6 {


    
}
.logo-list-item-7 {
display: none;

    
}
.logo-list-item-8 {
    display: none;

    
}
.logo-list-item-9 {
    display: none;


    
}
.logo-list-item-10 {
    display: none;


    
}
.logo-list-item-11 {
    display: none;


    
}
.logo-list-mod{
display: block;


}
.logo-list-height{


}
.logo-info {
    background-color: #F8F8F8;
    padding: 10px;
    padding-left: 25px;
  }
  .logo-info__switch {
    display: none;
  }
  .logo-info__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
  }
 /* .info__switch:checked~ .list-item-7,.list-item-8,.list-item-9,.list-item-10,.list-item-11,.list-item-7 {
    display: block;
  }
*/
/*.info__switch:checked~ .list-item-7 {
    display: block;
  } */
  
  .logo-info__headline {
    display: inline-block;
    
  }
  .log {
position:absolute;
top:20px;
left:16px;
bottom:20px;
  }
  .logo-icon {
    display: inline-block;
    padding-right: 16px;
  }
  .logo-list-item-3 .log {
    position:absolute;
    top:10px;
    left:16px;
    bottom:20px;
    
      
      } 
      .logo-list-item-6 .log {
        position:absolute;
        top:10px;
        left:16px;
        bottom:20px;
        
          
          } 
          .logo-list-item-10 .log {
            position:absolute;
            top:10px;
            left:16px;
            bottom:20px;
            
              
              } 
              .logo-list-item-11 .log {
                position:absolute;
                top:10px;
                left:16px;
                bottom:20px;
                
                  
                  } 

  .link {
    display: inline-block;
    margin-right:40px;
    margin-left:120px;
    margin-top:16px;
    margin-bottom:16px;
    width:40px;
    height: 40px;
    background-color:white;
    border:none;
    position:relative;
      }
      .button {
        display: inline-block;
        left:25px;
        top:14px;
        position:absolute;
        
        border:none;
      }
  
}

@media (min-width: 1440px) {

  body {
      max-width: 2000px;
      margin-left:320px;
    }
  .logo-header {
        height: 56px;
      
            line-height: 56px;
            
            font-family: 'TT Lakes';
            font-size: 16px;
          
            /* identical to box height, or 150% */
            
            letter-spacing: -0.2px;
            text-transform: uppercase;
            background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
            color: #7E7E82;

            
        min-width: 1120px;
        max-width: 2000px; 
    }
.logo-header p {
    padding-left:20px;
}

   .logo-list {
    display:flex;
    min-width: 1120px;
    max-width:2000px;
    justify-content: flex-start;
    background: #F8F8F8;
    flex-wrap: wrap;
   
    
  }
  .logo-list-item {
    margin-right: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    margin-left: 0;
    padding-left:0;
    max-width:224px;
    height: 72px;
    background: white;
    display: block;
    position: relative;
    margin-left:25px;
   }
   .logo-list-item-1 {
    


   }
   .logo-list-item-2 {
    

    
}
.logo-list-item-3 {
    

    
}
.logo-list-item-4 {


    
}
.logo-list-item-5 {


    
}
.logo-list-item-6 {


    
}
.logo-list-item-7 {


    
}
.logo-list-item-8 {
    

    
}
.logo-list-item-9 {
  display: none;


    
}
.logo-list-item-10 {
    display: none;


    
}
.logo-list-item-11 {
    display: none;


    
}
.logo-list-mod{
display: block;


}
.logo-list-height{


}
.logo-info {
    background-color: #F8F8F8;
    padding: 10px;
    padding-left: 25px;
  }
  .logo-info__switch {
    display: none;
  }
  .logo-info__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
  }
 /* .info__switch:checked~ .list-item-7,.list-item-8,.list-item-9,.list-item-10,.list-item-11,.list-item-7 {
    display: block;
  }
*/
/*.info__switch:checked~ .list-item-7 {
    display: block;
  } */
  
  .logo-info__headline {
    display: inline-block;
   
  }
  .logo-icon {
    display: inline-block;
    padding-right: 25px;

    
  }
  .log {
position:absolute;
top:20px;
left:16px;
bottom:20px;

  
  }
  
  .logo-list-item-3 .log {
    position:absolute;
    top:10px;
    left:16px;
    bottom:20px;
    
      
      } 
  .logo-list-item-6 .log {
    position:absolute;
    top:10px;
    left:16px;
    bottom:20px;
    
      
      }  .logo-list-item-10 .log {
        position:absolute;
        top:10px;
        left:16px;
        bottom:20px;
        
          
          }
          .logo-list-item-11 .log {
          position:absolute;
          top:10px;
          left:16px;
          bottom:20px;
          
            
            }
           
           .logo-list-item-2 .log {
            position:absolute;
            top:20px;
            left:16px;
            bottom:20px;
            
              
              }
  .link {
display: inline-block;
margin-right:40px;
margin-left:168px;
margin-top:16px;
margin-bottom:16px;
width:40px;
height: 40px;
background-color:white;
border:none;
position: relative;
flex-wrap: wrap;
  }
  .button {
    display: inline-block;
    left:25px;
    top:14px;
    position:absolute;
    
    border:none;
  }



}