


.container {
  display:flex;
 
  height: 88px;
  justify-content:space-around;
  
      height: 88px;
         min-width: 320px;
         max-width: 768px;
}
.container-item {
  
  height: 50px;
  align-items:center;
  padding-top:23px;
}
.container-item:nth-child(3) {
  display: none;
}
.container-item:nth-child(4) {
  display: none;
}
.container-item:nth-child(5) {
  display: none;
}

.container-item--mod {
  border:1px solid #EAEAEA;
 
  height: 10px;
  margin-top:20px;
  margin-right:10px;
  display:block;
  }
    .header {
      width:100%;
      height: 88px;
min-width: 320px;
         max-width: 768px;
    }
    
    
      .main {     
  min-width: 320px;
           max-width: 768px;
       width:100%;
         
        background: #F8F8F8;
        
      }
      .main-list {
        display:flex ;
        overflow-x: scroll;
        align-items:space-around;
        flex-wrap: nowrap;
       padding: 10px;
       vertical-align: middle;
       align-items:center;
       height: 70px;
      }
      .main-list--mod {
      padding-top: 10px;
        text-align: center;
        align-items:center;
        vertical-align: center;
        padding-left: 10px;
        padding-right: 10px;
        flex-grow: 1;
        display: inline-block;
       white-space: nowrap;
       border-radius: 6px;
       height: 30px;
       margin-right:10px;
       }
       .main-list--mod:hover {
        background: #FFFFFF;
        border: 2px solid #B8FFEC;
       }

      .main-title {
        font-family: 'TT Lakes';
      font-size: 16px;
      line-height: 24px;
      padding: 10px;
      padding-bottom: 0;
      }
     
      .main-text {
        padding: 10px;
        font-family: 'TT Lakes';
      font-size: 14px;
      line-height: 18px;
      min-width: 320px;
  max-width: 768px;
      }

      .info {
        
        background: #F8F8F8;
        padding: 10px;
      }
      .info__switch {
        display: none;
      }
      .info__body {
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
      }
      .info__switch:checked~.info__body {
        max-height: 200px;
      }
 
      
      .info__headline {
        display: block;
        
      }
      .main-text p {
        display: none;
      }
     
      .picture__img {
       
        width:100%;
        min-width: 320px;
        max-width: 768px;
       
      }
      .main-title-2 {
        display: none;
      }
      .main-title__img1 {
        display: none;
     }
     .main-title__img2 {
       display: none;
     }
@media (min-width: 768px) and (max-width:1119px) {
  .container {
    display:flex;
    min-width: 768px;
    max-width:1119px;
    height: 88px;
    
    
  }
  .container-item {
    width: 50px;
    height: 50px;
    align-items:center;
    padding-top:15px;
  }
  .container-item:nth-child(2) {
    margin-right: 60px;
  }
  .container-item--mod {
  border:1px solid #EAEAEA;
  width:0.5px;
  height: 10px;
  margin-top:20px;
  margin-right:10px;
  
  }
  .container-item:nth-child(3) {
    margin-left: auto;
   }
   .container-item:nth-child(3) {
    display: block;
  }
  .container-item:nth-child(4) {
    display: block;
  }
  .container-item:nth-child(5) {
    display: block;
  }
      .header {
        min-width: 768px;
    max-width:1119px;
        height: 88px;
       
      }
      
     
       
        .main {
    
          background: #F8F8F8;
          min-width: 768px;
    max-width:1119px;
        }
        .main-list {
          display:flex ;
          overflow-x: scroll;
          align-items:space-around;
          flex-wrap: nowrap;
         padding: 10px;
         height: 70px;
        }
        .main-list--mod {
          text-align: center;
         padding-top:10px;
         flex-grow: 1;
         padding-left: 10px;
         padding-right: 10px;
        white-space: nowrap;
       
        height: 30px;
        margin-right:10px;
        }
        .main-list--mod:hover {
          background: #FFFFFF;
          border: 2px solid #B8FFEC;
          border-radius: 6px;
        
        }

        .main-title {
          font-family: 'TT Lakes';
        font-size: 16px;
        line-height: 24px;
        padding: 10px;
        padding-bottom: 0;
        }
        .main-title__img1 {
           display: none;
        }
        .main-title__img2 {
          display: none;
        }

        .main-text {
          padding: 10px;
          font-family: 'TT Lakes';
        font-size: 14px;
        line-height: 18px;
        
        }
  
        .info {
          background-color: #F8F8F8;
          padding: 10px;
          padding-bottom:40px ;
        }
        .info__switch {
          display: none;
        }
        .info__body {
          max-height: 0;
          overflow: hidden;
          transition: 0.4s;
        }
        .info__switch:checked~.info__body {
          max-height: 200px;
        }
   
        
        .info__headline {
          display: block;
          
        }

        .picture {
          display: inline-block;
          position:absolute;
          width:360px;
          height: 190px;
        top:28%;
        }
        .picture__img {
          width:360px;
          height: 190px;
          position: absolute;
left: 10%;
right: 5.1%;
top: 20%;
bottom: 50%;
        }

        .main-text {
          width: 40%;
          padding-top:30px;
        }
        .info {
          display: inline-block;
          width:40%;
        }


        .main-text p {
          display: block;
        }
        .main-title-2 {
          display: none;
        }
  


      }








  @media (min-width: 1120px) {
    .container {
      display:flex;
      min-width: 1120px;
      max-width: 2000px;
      height: 88px;

      
      
    }
    .container-item {
      width: 50px;
      height: 50px;
      align-items:center;
      padding-top:15px;
    }
    .container-item:nth-child(2) {
      margin-right: 60px;
    }
    .container-item--mod {
    border:1px solid #EAEAEA;;
    width:0.5px;
    height: 10px;
    margin-top:20px;
    margin-right:10px;
    
    }
    .container-item:nth-child(3) {
      margin-left: auto;
     }
        .header {
          min-width: 1120px;
          height: 88px;
         display: none;
        }
        
        
            
           
         
          .main {
      
            background: #F8F8F8;
            min-width: 1120px;
      max-width: 2000px;
            height: 470px;
          }
          .main-list {
            display:flex ;
            overflow-x: scroll;
            align-items:space-around;
            flex-wrap: nowrap;
           padding: 10px;
           height: 70px;
          }
          .main-list--mod {
            
           flex-grow: 1;
           
          white-space: nowrap;
         text-align: center;
         padding-top:10px;
          height: 30px;
          margin-right:10px;
          }
          .main-list--mod:hover {
            background: #FFFFFF;
            border: 2px solid #B8FFEC;
            border-radius: 6px;
          }
  
          .main-title {
            
            font-family: 'TT Lakes';
          font-size: 16px;
          line-height: 24px;
          padding: 10px;
          padding-bottom: 0;
          }

          .main-title {
            display: flex;
          }
          .main-title__img1 { 
            display: flex;
            align-items: center;
          }
          .main-title__img1::before { 
            content:"Оставить заявку";
            padding-right:10px;
          }
          .main-title__img2 {     
            display: flex;
            align-items: center;
        padding-right:10px;
          }
          .main-title__img2::before { 
            content:"Статус ремонта";
            padding-left:10px;
            padding-right:10px;
          }


          .main-title__menu {
            margin-left: auto;
            display: flex;
          }
          .main-title-2  {
            font-family: 'TT Lakes';
          font-size: 12px;
            line-height: 24px;
          padding-left:20px;
          display: block;
           color: #7E7E82;
          }
          .main-text {
            padding: 10px;
            font-family: 'TT Lakes';
          font-size: 14px;
          line-height: 18px;
          padding-top:0;
          }
    
          .info {
            background-color: #F8F8F8;
            padding: 10px;
          }
          .info__switch {
            display: none;
          }
          .info__body {
            max-height: 0;
            overflow: hidden;
            transition: 0.4s;
          }
          .info__switch:checked~.info__body {
            max-height: 200px;
          }
     
          
          .info__headline {
            display: block;
            
          }
  
          .picture {
            position: absolute ;
            left:650px ;
            
            top: 170px;
            bottom: 200px;
          background-image:url(/img/img2.png);
          background-repeat: no-repeat;
          width: 510px;
          height:300px;
          }
  
          .main-text {
            width: 40%;
            padding-top:10px;
            
          }
          .info {
            display: inline-block;
            width:40%;
          }
  
  
          .main-text p {
            display: block;
          }
  
        }
  
        
  