// $bgColor: #24292e;
// $text: #fff;

// @font-face {
//   font-family: 'TT Lakes Regular';
//   src: url('block7/src/fonts/TTLakesCondensed-Thin.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
// }

body {
  padding: 1rem;
  margin: 0;
  font-family: TT Lakes Regular, sans-serif;;
  background-color: $bgColor;
  color: $text;
}


// @import './path/to/maket.css';
// @import './path/to/maket2-2.css';
// @import './path/to/maket2.css';
// @import './path/to/maket3.css';
// @import 'block7/stylesheet.css';